/* 
 * CSS.
 */

.logo {
    -fx-background-color: transparent;
    -fx-background-image: url("/assets/css/img/logo.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 350 150;
    -fx-background-position: center center;
}

.small_background {
    -fx-background-image: url("/assets/css/img/backgroundSmallScreen.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 600 600;
    -fx-background-position: center center;
}

.game_background {
    -fx-background-image: url("/assets/css/img/backgroundGame.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 800 800;
    -fx-background-position: center center;
}

.figureDeStyle_background {
    -fx-background-image: url("/assets/css/img/backgroundFigureDeStyle.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 800 800;
    -fx-background-position: center center;
}

.other_background {
    -fx-background-image: url("/assets/css/img/backgroundOther.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 800 800;
    -fx-background-position: center center;
}

.panel {
    -fx-background-color: transparent;
    -fx-background-image: url("/assets/css/img/wood.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 200 50;
    -fx-background-position: center center;
    -fx-font-size: 20px;
}

.panel_arrow {
    -fx-background-color: transparent;
    -fx-background-image: url("/assets/css/img/wood.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 50 50;
    -fx-background-position: center center;
    -fx-font-size: 40px;
}

.title {
    -fx-font-size: 30px;
    -fx-label-padding: 0px 0px 30px 0px;
}

.label {
    -fx-font-size: 20px;
    -fx-label-padding: 20px 5px 20px 5px;
}

.textfield {
    -fx-font-size: 20px;
    -fx-label-padding: 20px 0px 20px 5px;
    -fx-text-fill: #778899;
}

.gender {
    -fx-font-size: 20px;
    -fx-label-padding: 20px 0px 20px 5px;
}

.text_credits {
    -fx-font-size: 20px;
    -fx-label-padding: 20px 2px 20px 2px;
}

.text_label {
    -fx-font-size: 20px;
    -fx-label-padding: 20px 2px 20px 2px;
}

.logoDashbord {
    -fx-background-color: #956740;
    -fx-border-color: #643711;
    -fx-border-radius: 2px;
    -fx-background-image: url("/assets/css/img/graphic.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.logoDashbord:hover {
    -fx-border-color: peru;
}

.logoDashbordView {
    -fx-background-color: transparent;
    -fx-background-image: url("/assets/css/img/graphic.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.logoShop {
    -fx-background-color: #956740;
    -fx-border-color: #643711;
    -fx-border-radius: 2px;
    -fx-background-image: url("/assets/css/img/basket.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.logoShop:hover {
    -fx-border-color: peru;
}

.logoShopView {
    -fx-background-color: transparent;
    -fx-background-image: url("/assets/css/img/basket.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.logoInventory {
    -fx-background-color: #956740;
    -fx-border-color: #643711;
    -fx-border-radius: 2px;
    -fx-background-image: url("/assets/css/img/sack.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.logoInventory:hover {
    -fx-border-color: peru;
}

.logoInventoryView {
    -fx-background-color: transparent;
    -fx-background-image: url("/assets/css/img/sack.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.logoSettings {
    -fx-background-color: #956740;
    -fx-border-color: #643711;
    -fx-border-radius: 2px;
    -fx-background-image: url("/assets/css/img/settings.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.logoSettings:hover {
    -fx-border-color: peru;
}

.logoSettingsView {
    -fx-background-color: transparent;
    -fx-background-image: url("/assets/css/img/settings.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.logoExit {
    -fx-background-color: #956740;
    -fx-border-color: #643711;
    -fx-border-radius: 2px;
    -fx-background-image: url("/assets/css/img/exit.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.logoExit:hover {
    -fx-border-color: peru;
}

.error_menu {
    -fx-background-color: transparent;
    -fx-background-image: url("/assets/css/img/message_not_user.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 500 100;
    -fx-background-position: center center;
    -fx-text-fill: red;
    -fx-font-size: 18px;
}

.logoWateringcan {
    -fx-background-image: url("/assets/css/img/wateringcan.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.carrotUnlock {
    -fx-background-image: url("/assets/img/vegetable/carrot.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.carrotLock {
    -fx-background-image: url("/assets/img/vegetable/carrot_lock.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.figUnlock {
    -fx-background-image: url("/assets/img/vegetable/fig.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.figLock {
    -fx-background-image: url("/assets/img/vegetable/fig_lock.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.blackberryUnlock {
    -fx-background-image: url("/assets/img/vegetable/blackberry.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.blackberryLock {
    -fx-background-image: url("/assets/img/vegetable/blackberry_lock.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.patatoUnlock {
    -fx-background-image: url("/assets/img/vegetable/patato.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.patatoLock {
    -fx-background-image: url("/assets/img/vegetable/patato_lock.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.appleUnlock {
    -fx-background-image: url("/assets/img/vegetable/apple.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.appleLock {
    -fx-background-image: url("/assets/img/vegetable/apple_lock.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.tomatoUnlock {
    -fx-background-image: url("/assets/img/vegetable/tomato.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.tomatoLock {
    -fx-background-image: url("/assets/img/vegetable/tomato_lock.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 60 60;
    -fx-background-position: center center;
}

.panelScoreMonney {
    -fx-background-color: transparent;
    -fx-background-image: url("/assets/css/img/wood.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 180 50;
    -fx-background-position: center center;
    -fx-font-size: 20px;
}

.panelStore {
    -fx-background-color: transparent;
    -fx-background-image: url("/assets/css/img/wood.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 110 110;
    -fx-background-position: center center;
    -fx-font-size: 20px;
}

.lecon {
    -fx-font-size: 15px;
}